<%- include('partials/header'); -%>


<div class="text-center mt-5">
  <a class="btn btn-primary btn-floating m-1" href="https://github.com/aNdReA9111" role="button" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</div>


<%- include('partials/footer'); -%>