<!-- Componente che si occupa del login -->



<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="css/root.css" />

<div class="card mx-auto" style="width: 24rem; margin-top: 9%;">
    <div style="text-align: center;">
        <h1>Login</h1>
    </div>
    <div class="card-body flex-card">
        <form action="/login" method="POST" class="flex-card">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>
            Non hai un account? <a href="/register">Registrati</a>
        </p>
    </div>
</div>


<%- include('partials/footer'); -%>